Button {
    margin-right: 5px;
    width: 200px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    font-family: cursive;
    background-color: #b97a2a;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5%;
}